:root {
    --bg-color: white;
    --text-color: black;
    --button-colors: #57c1ff;
    --crown-color: rgb(255, 217, 0);
    --card-background: whitesmoke;

    --light-bg-color: white;
    --light-text-color: black;
    --light-button-colors: #57c1ff;
    --light-crown-color: rgb(255, 217, 0);
    --light-card-background: whitesmoke;

    --dark-bg-color: black;
    --dark-text-color: white;
    --dark-button-colors: #57c1ff;
    --dark-crown-color: rgb(255, 217, 0);
    --dark-card-background: #262626;
  }


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
}

/* CSS For theme toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-colors);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--button-colors);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* End of Theme toggle*/

/* Game Score Header */
.pageHeader {
    font-family: 'Lexend Tera', serif;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.themeToggleLabel {
    padding-left: 5px;
    font-family: 'Lexend Tera', serif;
}
/* Contains elements inside each game ******* Start of section ****************/

/* The main Game Container */
.gameContainer {
    background-color: var(--card-background);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 89%;
    max-width: 600px;
    min-height: 60px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px;
}

/* The Name and Date Container */
.nameDateContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gameName {
    width: 100%;
    font-family: 'Lexend Tera', serif;
    font-size: 18px;
    text-align:left;
    padding: 5px;
    overflow: hidden;
}

.gameDate {
    padding: 3px;
    margin-left: 5px;
    font-family: 'Lexend Tera', serif;
    font-size: 7px;
    color: rgb(150, 150, 150);
    width: 100%;
    text-align: right;
}

/* end of Name and Date Container */

/* Team Container */
.teamContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: top;
    overflow: hidden;
    font-family: 'Lexend Tera', serif;
    font-size: 14px;
    justify-content: center;
}

.team {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.fa-crown {
    color: var(--crown-color);
    margin: 5px;
    font-size: 20px;
    
}
/* End of Team Container */



/* End of section *****************************************************/


/* Add game button */
#addGameButton {
    /* This was changed from fixed to absolute in order to fix transitions */
    position: fixed;
    bottom: 4%;
    right: 4%;
    height: 50px;
    width: 50px;
    background-color: var(--button-colors);
    color:black;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* myGames label and Settings container*/
.myGamesAndsettContainer {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: auto;
}

/* My Games Header */
.myGames {
    font-family: 'Lexend Tera', serif;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
    width:60%;
}

/* Edit Games button container*/
.buttonContainer {
    width: 40%;
    display: flex;
    margin-top: 20px;
    font-family: 'Lexend Tera', serif;
    font-size: 11px;
    align-items: center;
}

/* edit Button */
.editButton {
    text-align: center;
    padding: 8px;
    margin: 4px;
    background-color: rgb(241, 158, 158);
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* add Button */
.addButton {
    text-align: center;
    padding: 8px;
    margin: 4px;
    background-color: var(--button-colors);
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sub Button */
.subButton {
    text-align: center;
    padding: 8px;
    margin: 4px;
    background-color: rgb(235, 110, 110);
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* trash can div */
.trashContainer {
    display: flex;
    max-width: 450px;
    margin: auto;
    padding: 10px;
    color: #f98474;
}

/* Simple class to hide elements */
.hidden {
    display: none;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/* New Game form Styles */


/* Main container */
.newGame {
    display: flex;
    width: 100%;
    padding: 0px;
    max-width: 800px;
    flex-wrap: wrap;
    margin: auto;
    text-align:center;
    font-family: 'Lexend Tera', serif;
}

/* Container for the input field for name */
.newGameNameContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* label for the game Name */
.newGameNameContainer label {
    padding-right: 5px;
}

/* Text input for the game name */
.formTextInput {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: 0.5px solid gray;
    background-color: var(--card-background);
    color: var(--text-color)
}


/* container for the creating of a new team */
.newTeamContainer {
    width: 100%;
    padding-top: 25px;
}

/* new team display */
.newTeamDisplay {
    min-height: 50px;
    font-size: 16px;
}

/* Header for the teams container */
.teamsDisplayHeader {
    padding: 5px;
}

/* add team button */
.addTeamButton {
    padding: 10px;
    margin: 10px;
    background-color: var(--button-colors);
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

/* The button for adding the new game and starting */
.addNewGameFormButton {
    padding: 8px;
    margin: 20px;
    margin-top: 40px;
    background-color: #89da97;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;

    margin-left: auto;
}

/* Container for adding the new game and starting */
.addNewGameFormButtonContainer {
    display: flex;
    justify-content: right;
    align-content: right;
    text-align: right;
    align-items: right;
    float:right;

    width: 100%;
}

/* The container for the collection of teams */
.newTeamDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    

}

/* The container for a team*/
.teamNameDelContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 41%;
    height: 50px;
    margin: 5px;
    background-color: var(--card-background);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* The name for the team in the new team container */
.teamDisplayForm {
    width: 90%;
    align-self: center;
    overflow: initial;
}

/* trash can for deleting teams */
.teamTrashContainer {
    display: flex;
    width: 10%;
    font-size: auto;
    margin: auto;
    padding: 5px;
    padding-right: 10px;
    color: #f98474;
}

.newTeamInputContainer {
    margin-top: 20px;
    width: 100%;
    flex-wrap: nowrap;
}



/************************************************************************/
/************************************************************************/
/******** This Section is for when the game is being played *************/
/************************************************************************/
/************************************************************************/

#playGame {
    justify-content: center;
    margin: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.gridContainer {
    display: grid;
    grid-template-rows: auto auto;
    font-family: 'Lexend Tera', serif;
    width: 100%;
    max-width: 800px;
}

.gridGameName {
    padding: 10px;
    font-size: 24px;
    text-align: left;
}

.gridTeamsContainer {

    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
}

.gridTeamScoreContainer {
    margin: 10px;
    padding: 10px;
    max-width: 122px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--card-background);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridTeam {
    margin-bottom: 10px;
    width: 100%;
    overflow: scroll;
    font-size: 16px;
}

.gridScore {
    padding: 8px;
    font-size: 20px;
}

.expandCardButton {
    width: 100%;
    padding: 5px;
    transition: 1s;
}

.spin90 {
    transition: 1s;
    transform: rotate(180deg);
}

.teamInputScore {
    width: 100%;
    margin: auto;
    font-size: 16px;
}

/* Top navigation bar */
.topBarContainer {
    top: 0;
    width: 100%;
    background-color: var(--card-background);
    color: var(--text-color);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-wrap: nowrap;
}

/* Back Button */
.backButton {
    color: var(--text-color);
    padding: 15px;
}

/* Text on the top bar */
.topBarHeaderText {
    font-size: 20px;
    align-self: center;
    text-align: center;
    width: 100%;
    font-family: 'Lexend Tera', serif;
}

/* settings icon */
.settingsButton {
    color: var(--text-color);
    padding: 15px;
}

/* Container for the settings */
.settingsContainer {
    color: var(--text-color);
    background-color: var(--card-background);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 20px -20px rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}

/* The theme Toggle */
.themeToggle {
    padding: 10px;
    display: flex;
    font-size: 14px;
    align-items: center;
    width: 200px;
}

/* Game Code option */
.gameCode {
    padding: 15px;
    margin-top: 100px;
}

.gameCodeButton {
    background-color: var(--button-colors);
}

.gameCodeText {
    padding: 15px;
    font-size: 16px;
    font-family: 'Lexend Tera', serif;
}

.gameCodeInputLabel, .gameCodeInputLabel:focus {
    padding: 5px;
    align-self: center;
    font-family: 'Lexend Tera', serif;
    
}

.gameCodeSaveButton {
    margin: 10px;
}

*:focus {
    outline: none;
}

.errorText {
    color: rgb(226, 78, 78);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Lexend Tera', serif;
}

.smallButton {
    margin: 10px 10% 0 10%;
    background-color: var(--button-colors);
    font-family: 'Lexend Tera', serif;
    
}

.text {
    padding: 10px;
    font-family: 'Lexend Tera', serif;
    color: var(--text-color);
}