/* HTML Selectors */
html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}

nav ul li {
    display: none;
    text-align: center;
    
}

nav ul li:first-child {
    display: block;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    padding: 15px;
    color: white;
    
}

header h1,h3 {
    padding-left: 13px;
    margin: 0;
    margin-top: 5px;
}

main p,h5{
    padding-left: 13px;
    padding-right: 13px;
}

#weddingPicText {
    margin-top: 0;
    padding-top: 1px;
    font-size: 7px;
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

footer {
    text-align: center;
    color: gray
}



/* Class Selectors */
.show li {
    display: block;
}



/* ID Selectors */