/* HTML Selectors */
html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}

nav ul li {
    display: none;
    text-align: center;
    
}

nav ul li:first-child {
    display: block;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    padding: 15px;
    color: white;
    
}



main img {
    height: 200px;
    padding: 20px;
    padding-left: 30px;
}

/* Class Selectors */
.show li {
    display: block;
}



/* ID Selectors */