/* HTML Selectors */
html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}

nav ul li {
    display: none;
    text-align: center;
    
}

nav ul li:first-child {
    display: block;
    text-align: left;
}

nav ul li a {
    
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    
    
}

header h1,h3 {
    padding-left: 13px;
    margin: 0;
    margin-top: 5px;
    text-decoration: none;
}

main input,button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
}

main p,h5{
    padding-left: 13px;
    padding-right: 13px;
}

#weddingPicText {
    margin-top: 0;
    padding-top: 1px;
    font-size: 7px;
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

footer {
    text-align: center;
    color: gray
}

main li {
    padding-right: 5%;
}



/* Class Selectors */
.show li {
    display: block;
    border: 1px solid gray;
}



/* ID Selectors */
#calculatorButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#calculatorButtons button {
    width: 60px;
    height: 60px;
    background-color: darkmagenta;
    color: white;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 30%;
}

#result {
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}